OLLAMA_API_BASE=
ANTHROPIC_API_KEY=
ANTHROPIC_BASE_URL=
AZURE_FOUNDRY_HOST=
AZURE_FOUNDRY_CLAUDE_KEY=
AZURE_FOUNDRY_OPENAI_KEY=
AGNO_TELEMETRY=false
AGNO_DEBUG=true
COHERE_API_KEY=
REDDIT_CLIENT_SECRET=
REDDIT_CLIENT_ID=
